<nav>
  <button class="tablinks" routerLink="frame" routerLinkActive="active">
    Frame
  </button>
  <button class="tablinks" routerLink="wheels" routerLinkActive="active">
    Wheels
  </button>
  <button class="tablinks" routerLink="engine" routerLinkActive="active">
    Engine
  </button>
  <button class="tablinks" routerLink="break" routerLinkActive="active">
    Break
  </button>
  <button class="tablinks" routerLink="equipment" routerLinkActive="active">
    Equipment
  </button>
</nav>
