<form #bikeForm="ngForm">
  <section>
    <h2>General</h2>
    <label for="bikeType">Bike type</label>
    <select name="bikeType" [(ngModel)]="bike.bikeType">
      <option value="road">Road</option>
      <option value="city">City</option>
      <option value="mountain">Mountain</option>
    </select>
    <label for="manufacturer">Manufacturer</label>
    <select name="manufacturer" [(ngModel)]="bike.manufacturer">
      <option value="ROSE">ROSE</option>
      <option value="CUBE">CUBE</option>
      <option value="CANNONDALE">CANNONDALE</option>
      <option value="SPECIALIZED">SPECIALIZED</option>
      <option value="PEGASUS">PEGASUS</option>
    </select>
    <label for="bikeSize">Bike size</label>
    <select name="bikeSize" [(ngModel)]="bike.frameSize">
      <option value="54">54</option>
      <option value="56">56</option>
      <option value="58">58</option>
      <option value="60">60</option>
    </select>
  </section>

  <section>
    <h2>Frame</h2>
    <label for="frameMaterial">Material</label>
    <select name="frameMaterial" [(ngModel)]="bike.frameMaterial">
      <option value="aluminum">Aluminum</option>
      <option value="carbon">Carbon</option>
    </select>
    <label for="frameColor">Color</label>
    <input name="frameColor" type="color" [(ngModel)]="bike.frameColor" />
    <label>Frame thickness</label>
    <input
      type="range"
      name="frameThickness"
      [(ngModel)]="bike.frameThickness"
      min="10"
      max="30"
    />
  </section>

  <section>
    <h2>Wheels</h2>
    <div class="flex-column-layout">
      <div class="column">
        <h3>Rear</h3>
        <label for="rearWheelColor">Color</label>
        <input
          name="rearWheelColor"
          type="color"
          [(ngModel)]="bike.rearWheelColor"
        />
        <label for="rearWheelSize">Size</label>
        <input
          name="rearWheelSize"
          type="number"
          [(ngModel)]="bike.rearWheelSize"
        />
      </div>
      <div class="column">
        <h3>Front</h3>
        <label for="frontWheelColor">Color</label>
        <input
          name="frontWheelColor"
          type="color"
          [(ngModel)]="bike.frontWheelColor"
        />
        <label for="frontWheelSize">Size</label>
        <input
          name="frontWheelSize"
          type="number"
          [(ngModel)]="bike.frontWheelSize"
        />
      </div>
    </div>
  </section>

  <section>
    <h2>Engine</h2>
    <label for="engineText">Engine</label>
    <select name="engineText" [(ngModel)]="bike.engine">
      <option value="CLARIS">CLARIS</option>
      <option value="SORA">SORA</option>
      <option value="TIAGRA">TIAGRA</option>
      <option value="DEORE">DEORE</option>
      <option value="ULTEGRA">ULTEGRA</option>
      <option value="NG-ACE">NG-ACE</option>
    </select>
  </section>

  <section>
    <h2>Break</h2>
    <label for="breakType">Break type</label>
    <select name="breakType" [(ngModel)]="bike.breakType">
      <option value="wheelBreak">Wheel break</option>
      <option value="diskBreak">Disk Break</option>
    </select>
  </section>

  <section>
    <h2>Equipment</h2>
    <input type="checkbox" name="equipLights" [(ngModel)]="bike.equipLights" />
    Lights
    <input type="checkbox" name="equipPedals" [(ngModel)]="bike.equipPedals" />
    Pedals
  </section>

  <app-status></app-status>
</form>
