<form #bikeForm="ngForm">
  <section>
    <h2>General</h2>
    <label for="bikeType">Bike type</label>
    <select name="bikeType" [(ngModel)]="bike.bikeType">
      <option value="road">Road</option>
      <option value="city">City</option>
      <option value="mountain">Mountain</option>
    </select>
    <label for="manufacturer">Manufacturer</label>
    <select name="manufacturer" [(ngModel)]="bike.manufacturer">
      <option value="ROSE">ROSE</option>
      <option value="CUBE">CUBE</option>
      <option value="CANNONDALE">CANNONDALE</option>
      <option value="SPECIALIZED">SPECIALIZED</option>
      <option value="PEGASUS">PEGASUS</option>
    </select>
    <label for="bikeSize">Bike size</label>
    <select name="bikeSize" [(ngModel)]="bike.frameSize">
      <option value="54">54</option>
      <option value="56">56</option>
      <option value="58">58</option>
      <option value="60">60</option>
    </select>
  </section>

  <section>
    <app-tabs></app-tabs>
    <router-outlet></router-outlet>
  </section>

  <app-status></app-status>
</form>
