:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  padding: 24px;
  box-sizing: border-box;
}

app-bike {
  margin-bottom: 24px;
}

.discount {
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
}
